
body {
  background-color: powderblue;

}

.Importance {
  background-color: rgb(168, 209, 214);
  border: 40px;
}

table {
  background-color: rgb(168, 209, 214);
  color: black;
  border: 40px;
  text-align: center;
}